# Read CSV into xarray Dataset with quality codes

In [1]:
import xarray as xr
import pandas as pd

/home/al/.envs/learning/lib/python3.7/site-packages/dask/config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}
/home/al/.envs/learning/lib/python3.7/site-packages/distributed/config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)

## Load data

In [2]:
df = pd.read_csv("data/mooring-buoys-time-series-62450.csv", parse_dates=["DATE (yyyy-mm-ddThh:mi:ssZ)"],
                 infer_datetime_format=True)
df.head()

,PLATFORM,DATE (yyyy-mm-ddThh:mi:ssZ),LATITUDE (degree_north),LONGITUDE (degree_east),TEMP LEVEL0 (degree_Celsius),DRYT LEVEL0 (degree_Celsius),PSAL LEVEL0 (psu),BATTERY LEVEL0 (volt),CNDC LEVEL0 (S/m),DEPH LEVEL0 (meter),...,PCO2_PUMP_CURR LEVEL1 (TBD),PCO2_THERMISTOR LEVEL1 (TBD),PHPH LEVEL1 (none),PHPH_ADJUSTED LEVEL1 (none),PSAL_ADJUSTED LEVEL1 (psu),START_CYCLE_FLOW LEVEL1 (l/minute),TEMP_ADJUSTED LEVEL1 (degree_Celsius),TEMP_CO2_ADJUSTED LEVEL1 (degree_Celsius),TUR4 LEVEL1 (ntu),QC
0,62450,2000-07-19 15:33:16,48.358,-4.5518,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0111999999999999991999799991199999999999999999...
1,62450,2000-07-19 15:58:32,48.358,-4.5518,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0111999999999999999999799991199999999999999999...
2,62450,2000-07-19 16:18:32,48.358,-4.5518,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0111999999999999991999799991199999999999999999...
3,62450,2000-07-19 16:33:17,48.358,-4.5518,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0111999999999999991999799991199999999999999999...
4,62450,2000-07-19 16:58:32,48.358,-4.5518,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0111999999999999991999799991199999999999999999...

## Extract each quality code into its own column

In [3]:
qc_df = df.QC.str.split('', expand=True)
qc_df.head()

  0  1  2  3  4  5  6  7  8  9   ... 44 45 46 47 48 49 50 51 52 53
0     0  1  1  1  9  9  9  9  9  ...  9  9  9  9  9  9  9  9  9
1     0  1  1  1  9  9  9  9  9  ...  9  9  9  9  9  9  9  9  1
2     0  1  1  1  9  9  9  9  9  ...  9  9  9  9  9  9  9  9  9
3     0  1  1  1  9  9  9  9  9  ...  9  9  9  9  9  9  9  9  1
4     0  1  1  1  9  9  9  9  9  ...  9  9  9  9  9  9  9  9  9

[5 rows x 54 columns]

## Merge quality code columns into the original dataset

In [4]:
for i, column in enumerate(df.columns[:-1], 1):
    df[f"QC {column}"] = qc_df[[i]]
df.head()

,PLATFORM,DATE (yyyy-mm-ddThh:mi:ssZ),LATITUDE (degree_north),LONGITUDE (degree_east),TEMP LEVEL0 (degree_Celsius),DRYT LEVEL0 (degree_Celsius),PSAL LEVEL0 (psu),BATTERY LEVEL0 (volt),CNDC LEVEL0 (S/m),DEPH LEVEL0 (meter),...,QC PCO2_LOW_REF LEVEL1 (TBD),QC PCO2_PUMP_CURR LEVEL1 (TBD),QC PCO2_THERMISTOR LEVEL1 (TBD),QC PHPH LEVEL1 (none),QC PHPH_ADJUSTED LEVEL1 (none),QC PSAL_ADJUSTED LEVEL1 (psu),QC START_CYCLE_FLOW LEVEL1 (l/minute),QC TEMP_ADJUSTED LEVEL1 (degree_Celsius),QC TEMP_CO2_ADJUSTED LEVEL1 (degree_Celsius),QC TUR4 LEVEL1 (ntu)
0,62450,2000-07-19 15:33:16,48.358,-4.5518,NaN,NaN,NaN,NaN,NaN,NaN,...,9,9,9,9,9,9,9,9,9,9
1,62450,2000-07-19 15:58:32,48.358,-4.5518,NaN,NaN,NaN,NaN,NaN,NaN,...,9,9,9,9,9,9,9,9,9,1
2,62450,2000-07-19 16:18:32,48.358,-4.5518,NaN,NaN,NaN,NaN,NaN,NaN,...,9,9,9,9,9,9,9,9,9,9
3,62450,2000-07-19 16:33:17,48.358,-4.5518,NaN,NaN,NaN,NaN,NaN,NaN,...,9,9,9,9,9,9,9,9,9,1
4,62450,2000-07-19 16:58:32,48.358,-4.5518,NaN,NaN,NaN,NaN,NaN,NaN,...,9,9,9,9,9,9,9,9,9,9

In [7]:
df.describe()

,PLATFORM,LATITUDE (degree_north),LONGITUDE (degree_east),TEMP LEVEL0 (degree_Celsius),DRYT LEVEL0 (degree_Celsius),PSAL LEVEL0 (psu),BATTERY LEVEL0 (volt),CNDC LEVEL0 (S/m),DEPH LEVEL0 (meter),DOX1 LEVEL0 (ml/l),...,PCO2_LOW_REF LEVEL1 (TBD),PCO2_PUMP_CURR LEVEL1 (TBD),PCO2_THERMISTOR LEVEL1 (TBD),PHPH LEVEL1 (none),PHPH_ADJUSTED LEVEL1 (none),PSAL_ADJUSTED LEVEL1 (psu),START_CYCLE_FLOW LEVEL1 (l/minute),TEMP_ADJUSTED LEVEL1 (degree_Celsius),TEMP_CO2_ADJUSTED LEVEL1 (degree_Celsius),TUR4 LEVEL1 (ntu)
count,498742.0,4.987420e+05,4.987420e+05,3440.000000,218080.000000,3440.000000,3440.000000,3440.000000,245219.000000,3440.000000,...,23936.000000,23942.000000,23927.000000,390278.000000,104239.000000,279030.000000,75779.000000,84070.000000,86781.000000,404233.000000
mean,62450.0,4.835800e+01,-4.551800e+00,16.592887,-19.749926,34.883959,10.997646,4.436361,0.009234,6.057846,...,4590.360795,109.706248,6505.924771,6.800564,8.367840,34.442693,2.582603,13.762018,13.311671,-31.439539
std,0.0,2.842174e-14,7.105434e-15,0.614004,78.701770,0.909576,0.015452,0.136173,0.079976,0.242817,...,84.980966,204.455178,2092.969455,16.504890,43.766607,0.845652,0.719219,3.296539,2.845230,207.936669
min,62450.0,4.835800e+01,-4.551800e+00,12.980000,-285.260000,0.030000,10.810000,0.005000,0.000000,5.590000,...,4585.000000,92.000000,0.000000,0.000000,7.810000,23.530000,0.000000,7.400000,7.510000,-3142.000000
25%,62450.0,4.835800e+01,-4.551800e+00,16.080000,0.000000,34.630000,10.988000,4.363000,0.000000,5.887500,...,4587.000000,101.000000,6494.000000,7.930000,8.120000,34.080000,2.580000,10.400000,10.740000,1.500000
50%,62450.0,4.835800e+01,-4.551800e+00,16.620000,8.470000,34.985000,10.992000,4.465000,0.000000,6.025000,...,4588.000000,106.000000,6893.000000,8.170000,8.170000,34.639500,2.800000,15.500000,13.370000,3.700000
75%,62450.0,4.835800e+01,-4.551800e+00,17.032250,13.340000,35.242500,11.000000,4.508000,0.000000,6.180000,...,4588.000000,109.000000,7665.000000,8.280000,8.240000,35.070000,2.920000,16.700000,16.060000,9.060000
max,62450.0,4.835800e+01,-4.551800e+00,18.370000,310.740000,35.420000,11.050000,4.640000,0.994900,7.850000,...,7777.000000,7777.000000,8191.000000,9999.990000,9999.990000,35.800000,6.640000,19.300000,18.740000,9999.990000

## Index data by date

In [5]:
timed_df = df.set_index(["DATE (yyyy-mm-ddThh:mi:ssZ)"])

## Convert to xarray Dataset

In [6]:
ds = xr.Dataset.from_dataframe(timed_df)
ds

<xarray.Dataset>
Dimensions:                                       (DATE (yyyy-mm-ddThh:mi:ssZ): 498742)
Coordinates:
  * DATE (yyyy-mm-ddThh:mi:ssZ)                   (DATE (yyyy-mm-ddThh:mi:ssZ)) datetime64[ns] 2000-07-19T15:33:16 ... 2019-01-29T03:28:49
Data variables:
    PLATFORM                                      (DATE (yyyy-mm-ddThh:mi:ssZ)) int64 62450 ... 62450
    LATITUDE (degree_north)                       (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 48.36 ... 48.36
    LONGITUDE (degree_east)                       (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 -4.552 ... -4.552
    TEMP LEVEL0 (degree_Celsius)                  (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    DRYT LEVEL0 (degree_Celsius)                  (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PSAL LEVEL0 (psu)                             (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    BATTERY LEVEL0 (volt)                         (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    CNDC LEVEL0 (S/m)                             (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    DEPH LEVEL0 (meter)                           (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    DOX1 LEVEL0 (ml/l)                            (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    FLU3 LEVEL0 (FFU)                             (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    LGH4 LEVEL0 (micro einstein m-2 s-1)          (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    MASS_DOXY LEVEL0 (milligram/m3)               (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    OSAT LEVEL0 (%)                               (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PHPH LEVEL0 (none)                            (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    RELH LEVEL0 (%)                               (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    TUR4 LEVEL0 (ntu)                             (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    TEMP LEVEL1 (degree_Celsius)                  (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 16.2 ... nan
    PSAL LEVEL1 (psu)                             (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    BATTERY LEVEL1 (volt)                         (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    CNDC LEVEL1 (S/m)                             (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    DEPH LEVEL1 (meter)                           (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 3.0 ... 3.0
    DOX1 LEVEL1 (ml/l)                            (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    DOX1_ADJUSTED LEVEL1 (ml/l)                   (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    END_CYCLE_FLOW LEVEL1 (l/minute)              (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... 1.48
    FCO2_ADJUSTED LEVEL1 (microatmosphere)        (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    FLU3 LEVEL1 (FFU)                             (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 2.05 ... nan
    FLU3_ADJUSTED LEVEL1 (FFU)                    (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 3.02 ... nan
    LGH4 LEVEL1 (micro einstein m-2 s-1)          (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    MASS_DOXY LEVEL1 (milligram/m3)               (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    OSAT LEVEL1 (%)                               (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PCO2_BATT_12V LEVEL1 (TBD)                    (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PCO2_BATT_M7V LEVEL1 (TBD)                    (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PCO2_BATT_P7V LEVEL1 (TBD)                    (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PCO2_CYCLE_COUNT LEVEL1 (TBD)                 (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PCO2_HIGH_REF LEVEL1 (TBD)                    (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PCO2_I434 LEVEL1 (TBD)                        (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PCO2_I596 LEVEL1 (TBD)                        (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PCO2_I850 LEVEL1 (TBD)                        (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PCO2_INT_RELH LEVEL1 (TBD)                    (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PCO2_INT_TEMP LEVEL1 (TBD)                    (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PCO2_LOW_REF LEVEL1 (TBD)                     (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PCO2_PUMP_CURR LEVEL1 (TBD)                   (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PCO2_THERMISTOR LEVEL1 (TBD)                  (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PHPH LEVEL1 (none)                            (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PHPH_ADJUSTED LEVEL1 (none)                   (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    PSAL_ADJUSTED LEVEL1 (psu)                    (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    START_CYCLE_FLOW LEVEL1 (l/minute)            (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    TEMP_ADJUSTED LEVEL1 (degree_Celsius)         (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    TEMP_CO2_ADJUSTED LEVEL1 (degree_Celsius)     (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    TUR4 LEVEL1 (ntu)                             (DATE (yyyy-mm-ddThh:mi:ssZ)) float64 nan ... nan
    QC                                            (DATE (yyyy-mm-ddThh:mi:ssZ)) object '0111999999999999991999799991199999999999999999999999' ... '0111999999999999999999799099999999999999999999999999'
    QC PLATFORM                                   (DATE (yyyy-mm-ddThh:mi:ssZ)) object '0' ... '0'
    QC DATE (yyyy-mm-ddThh:mi:ssZ)                (DATE (yyyy-mm-ddThh:mi:ssZ)) object '1' ... '1'
    QC LATITUDE (degree_north)                    (DATE (yyyy-mm-ddThh:mi:ssZ)) object '1' ... '1'
    QC LONGITUDE (degree_east)                    (DATE (yyyy-mm-ddThh:mi:ssZ)) object '1' ... '1'
    QC TEMP LEVEL0 (degree_Celsius)               (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC DRYT LEVEL0 (degree_Celsius)               (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PSAL LEVEL0 (psu)                          (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC BATTERY LEVEL0 (volt)                      (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC CNDC LEVEL0 (S/m)                          (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC DEPH LEVEL0 (meter)                        (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC DOX1 LEVEL0 (ml/l)                         (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC FLU3 LEVEL0 (FFU)                          (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC LGH4 LEVEL0 (micro einstein m-2 s-1)       (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC MASS_DOXY LEVEL0 (milligram/m3)            (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC OSAT LEVEL0 (%)                            (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PHPH LEVEL0 (none)                         (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC RELH LEVEL0 (%)                            (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC TUR4 LEVEL0 (ntu)                          (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC TEMP LEVEL1 (degree_Celsius)               (DATE (yyyy-mm-ddThh:mi:ssZ)) object '1' ... '9'
    QC PSAL LEVEL1 (psu)                          (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC BATTERY LEVEL1 (volt)                      (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC CNDC LEVEL1 (S/m)                          (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC DEPH LEVEL1 (meter)                        (DATE (yyyy-mm-ddThh:mi:ssZ)) object '7' ... '7'
    QC DOX1 LEVEL1 (ml/l)                         (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC DOX1_ADJUSTED LEVEL1 (ml/l)                (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC END_CYCLE_FLOW LEVEL1 (l/minute)           (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '0'
    QC FCO2_ADJUSTED LEVEL1 (microatmosphere)     (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC FLU3 LEVEL1 (FFU)                          (DATE (yyyy-mm-ddThh:mi:ssZ)) object '1' ... '9'
    QC FLU3_ADJUSTED LEVEL1 (FFU)                 (DATE (yyyy-mm-ddThh:mi:ssZ)) object '1' ... '9'
    QC LGH4 LEVEL1 (micro einstein m-2 s-1)       (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC MASS_DOXY LEVEL1 (milligram/m3)            (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC OSAT LEVEL1 (%)                            (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PCO2_BATT_12V LEVEL1 (TBD)                 (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PCO2_BATT_M7V LEVEL1 (TBD)                 (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PCO2_BATT_P7V LEVEL1 (TBD)                 (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PCO2_CYCLE_COUNT LEVEL1 (TBD)              (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PCO2_HIGH_REF LEVEL1 (TBD)                 (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PCO2_I434 LEVEL1 (TBD)                     (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PCO2_I596 LEVEL1 (TBD)                     (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PCO2_I850 LEVEL1 (TBD)                     (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PCO2_INT_RELH LEVEL1 (TBD)                 (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PCO2_INT_TEMP LEVEL1 (TBD)                 (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PCO2_LOW_REF LEVEL1 (TBD)                  (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PCO2_PUMP_CURR LEVEL1 (TBD)                (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PCO2_THERMISTOR LEVEL1 (TBD)               (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PHPH LEVEL1 (none)                         (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PHPH_ADJUSTED LEVEL1 (none)                (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC PSAL_ADJUSTED LEVEL1 (psu)                 (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC START_CYCLE_FLOW LEVEL1 (l/minute)         (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC TEMP_ADJUSTED LEVEL1 (degree_Celsius)      (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC TEMP_CO2_ADJUSTED LEVEL1 (degree_Celsius)  (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'
    QC TUR4 LEVEL1 (ntu)                          (DATE (yyyy-mm-ddThh:mi:ssZ)) object '9' ... '9'